/* style.css*/

/* Mobile first*/

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section{
  padding: 5rem 2rem;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

#projects {
  margin-bottom: 6rem; 
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  margin: 0 auto;
  }

  .project-card { 
    border: solid 1px gray;
    padding: 1.5rem;
    border-radius: 8px;
    text-align: center;
    width: 300px;              
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s ease, box-shadow 0.3s ease;
  } 

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #13293d;
}

.logo {
  color:aliceblue;
  text-align: center;
  flex: 1;
}

#about{
  text-align: center;
  padding: 2rem;
  margin-top: 2rem; 
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  transform: translateX(-1.5rem);
}


.nav-links {
  color: blue;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.nav-links a {
  color: white;
  border: 1px solid whitesmoke;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: color 0.3s ease, transform 0.3s ease, text-decoration 0.3s ease;
}

.nav-links a:hover {
  background-color: blue;
  transform: scale(1.05);
  text-decoration: underline;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;      
  justify-content: flex-end;
  padding-bottom: 3rem;     
  text-align: center;
  margin-top: 3rem;
}



footer p {
  text-align: center;
  margin-bottom: 1rem;
}

 @media (min-width: 768px) {
 .project-grid {
    flex-direction: row; 
  }
}